/* CSS Document */


#panelLogin{
	border:1px solid #7F9DB9;
	background:#f2f4f5;
	position:absolute; 
	top:50%; margin-top:-90px;
	left:50%; margin-left:-240px;
	width:480px;
	height:180px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#panelForm{
	border:1px solid #9BAFDE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top:10px;
}
/** cpanel settings **/

#cpanel div.icon {
	text-align: center;
	margin-right: 5px;
	float: left;
	margin-bottom: 5px;
}

#cpanel div.icon a {
	display: block;
	float: left;
	border: 1px solid #f0f0f0;
	height: 157px;
	width: 158px;
	color: #666;
	vertical-align: middle;
	text-decoration: none;
}

#cpanel div.icon a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	background: #f9f9f9;
	color: #0B55C4;
}

#cpanel img  { padding: 10px 0; margin: 0 auto; }
#cpanel span { display: block; text-align: center; }
/* pane-sliders  */
.pane-sliders .title {
	margin: 0;
	padding: 2px;
	color: #666;
	cursor: pointer;
}

.pane-sliders .panel   { border: 1px solid #ccc; margin-bottom: 3px; text-align:left;}

.pane-sliders .panel h3 { background: #f6f6f6; color: #666}

.pane-sliders .content { background: #f6f6f6; }

.pane-sliders .adminlist     { border: 0 none; }
.pane-sliders .adminlist td  { border: 0 none; }

.jpane-toggler  span     { background: transparent url(images/j_arrow.png) 5px 50% no-repeat; padding-left: 20px;}

.jpane-toggler-down {  border-bottom: 1px solid #ccc; }
/** Table styles **/

table.adminlist {
	width: 100%;
	border-spacing: 1px;
	background-color: #e7e7e7;
	color: #666;
}

table.adminlist td,
table.adminlist th { padding: 4px; }

table.adminlist thead th {
	text-align: center;
	background: #f0f0f0;
	color: #666;
	border-bottom: 1px solid #999;
	border-left: 1px solid #fff;
}

table.adminlist thead a:hover { text-decoration: none; }

table.adminlist thead th img { vertical-align: middle; }

table.adminlist tbody th { font-weight: bold; }

table.adminlist tbody tr			{ background-color: #fff;  text-align: left; }
table.adminlist tbody tr.row1 	{ background: #f9f9f9; border-top: 1px solid #fff; }

table.adminlist tbody tr.row0:hover td,
table.adminlist tbody tr.row1:hover td  { background-color: #ffd ; }

table.adminlist tbody tr td 	   { height: 25px; background: #fff; border: 1px solid #fff; }
table.adminlist tbody tr.row1 td { background: #f9f9f9; border-top: 1px solid #FFF; }

table.adminlist tfoot tr { text-align: center;  color: #333; }
table.adminlist tfoot td,
table.adminlist tfoot th { background-color: #f3f3f3; border-top: 1px solid #999; text-align: center; }

table.adminlist td.order 		{ text-align: center; white-space: nowrap; }
table.adminlist td.order span { float: left; display: block; width: 20px; text-align: center; }

table.adminlist .pagination { display:table; padding:0;  margin:0 auto;	 }

.pagination div.limit {
	float: left;
	height: 22px;
	line-height: 22px;
	margin: 0 10px;
}

div.header {
	font-size: 22px;
	font-weight: bold;
	color: #666666;
	line-height: 48px;
	margin-left: 10px;
	background-repeat:no-repeat;
	padding-left: 55px;
	text-align:left;
}
div.header a,div.header a:hover{
	font-size: 22px;
	font-weight: bold;
	color: #666666;
	line-height: 48px;
}

table.adminform {
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	width: 100%;
	border-collapse: collapse;
	margin: 8px 0 10px 0;
	margin-bottom: 15px;
	width: 100%;
}
table.adminform.nospace { margin-bottom: 0; }
table.adminform tr.row0 { background-color: #f9f9f9; }
table.adminform tr.row1 { background-color: #eeeeee; }

table.adminform th {
	font-size: 11px;
	padding: 6px 2px 4px 4px;
	text-align: left;
	height: 25px;
	color: #000;
	background-repeat: repeat;
}

table.adminform td { padding: 3px; text-align: left; }

table.adminform td.filter{
	text-align: left;
}

table.adminform td.helpMenu{text-align: right;}

fieldset.adminform { border: 1px solid #ccc; margin: 0 10px 10px 10px; }

table.adminerror{
	border:1px solid #FFCC00; 
	background:#FFFFCC; 
	font-size:11px;
	padding:5px;
	margin-left:10px;
	margin-right:10px;
}
table.adminerror td ul{
	margin-left:20px;
	line-height:16px;
	list-style-type:disc;
	font-style:italic;
	color:#FF0000;
}


span.adminTitlesite {
	font-size:11px;
	color:#666666;
	font-family:Arial;
	font-weight:bold;
	width:120px;
}
.adminWidthTitle {
	width:180px;
	text-align:right;
	padding-right:5px;
	padding-bottom:2px;
	padding-top:2px;
}
input.textForm {
	font:normal 12px/100% Arial;
	color:#333333;
	width:250px;
}
input.textForm2 {
	font:normal 12px/100% Arial;
	color:#333333;
	width:135px;
}
textarea.textareaForm {
	font:normal 12px/100% Arial;
	color:#333333;
	width:500px;
	height:60px;
}
span.noteTitle{
	font:normal 11px/100% Arial;
	font-style:italic;
	color:#999999;
} 

table.borderMain{border:1px solid #CCCCCC; padding:3px;}

table.spaceTop5px{margin-top:5px;}

table.spaceTop10px{margin-top:10px;}
td.bgTitleadmin1{
	background:#CCCCCC;
	border-bottom:1px solid #999999;
	text-align:center;
	font-weight:bold;
	height:22px;
}
td.bgTitleadmin2{
	background:#CCCCCC;
	border-bottom:1px solid #999999;
	text-align:left;
	padding-left:3px;
	padding-right:3px;
	font-weight:bold;
	height:22px;
}
td.bgTitleadmin3{
	background:#CCCCCC;
	border-bottom:1px solid #999999;
	text-align:left;
	padding-left:3px;
	padding-right:3px;
	font-weight:normal;
	height:22px;
}
td.bgContentadmin1{
	border-bottom:1px solid #EEEEEE;
	text-align:center;
	padding-bottom:3px;
	padding-top:3px;
}
td.bgContentadmin1 a:hover{
	color:#FF3300;
	font-weight:700;
	text-decoration:underline;
}

td.bgContentadmin2{
	border-bottom:1px solid #EEEEEE;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
}
td.bgContentadmin2 a{
	text-align:left;
	text-decoration:none;
	font-weight:bold;
	color:#000000;
}
td.bgContentadmin2 a:hover{
	text-align:left;
	text-decoration:underline;
	font-weight:bold;
	color:#FF3300;
}

table.bgContentadmin2 .bold{font-weight:bold;}

div.toolbar { float: right; text-align: right; padding: 0; }

table.toolbar    			 { border-collapse: collapse; padding: 0; margin: 0;	 }
table.toolbar td 			 { padding: 1px 1px 1px 4px; text-align: center; color: #666; height: 48px; }
table.toolbar td.spacer  { width: 10px; }
table.toolbar td.divider { border-right: 1px solid #eee; width: 5px; }

table.toolbar span { float: none; width: 32px; height: 32px; margin: 0 auto; display: block; }

table.toolbar a {
   display: block; float: left;
	white-space: nowrap;
	border: 1px solid #fbfbfb;
	padding: 1px 5px;
	cursor: pointer;
}

table.toolbar a:hover {
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-decoration: none;
	color: #0B55C4;
}
/*Page No*/
.pageMenubot { 
	font-size:10px;
	font-family:Tahoma;
	font-weight:bold;
	line-height:18px;
	margin: 2px;
	height: 16px;
}
.pageMenubot a{
	background-color:#FFFFFF; 
	border:1px solid #999999; 
	text-decoration:none; 
	color:#666666; 
	padding: 1px 4px 1px 4px; 
	line-height:16px;
}

.pageMenubot a:hover{
	color:#666666;
	font-size:10px;
	font-weight:bold;
	font-family:Tahoma;	
	text-decoration:none; 
	background-color:#CCCCCC;
}

.pageMenubotBg{
	border:1px solid #DDDDDD; 
	padding-left:5px; 
	padding-right:5px;
	padding-top:3px;
	padding-bottom:3px;
	background:#f2f4f5;
}
.uploadImage{
	width:80px; height:80px;
	overflow:hidden;
	border:1px solid #DDD;
	padding:3px;
}
.uploadImage img{
	margin:0;
	padding:0;
}
.Imagesize{
	max-width:80px; 
	max-height:80px; 
	_height: expression(this.height > 80 ? 80 : true);
	border:none;
}


/*============================*/
.simpleBtn{padding:5px; color:#ffffff ! important; font-size: 14px; background: #000000; margin:0 0 5px 0}
.bgRed{background: RED ! important}
.red{color:RED; font-weight: bold;}
.green{color:GREEN; font-weight: bold;}